<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batches</title>
</head>

<body>
    <h1>Batches</h1>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Batch</th>
                <th>Course</th>
                <th>Center</th>
                <th>Year</th>
                <th>Season</th>
                <th>Duration</th>
            </tr>
        </thead>

        <tbody>
            {{#each batches as |b|}}
            <tr>
                <td>{{b.code}}</td>
                <td>{{b.course.name}}</td>
                <td>{{b.center.name}}</td>
                <td>{{b.year}}</td>
                <td>{{b.season.name}}</td>
                <td>
                    {{b.start}}
                    <br>
                    {{b.end}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>